/* Estilos gerais de fundo e forma */
.form-login-background {
  background: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login-shape {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fc0800;
  border-radius: 50%;
  opacity: 0.3;
  animation: move 4s ease-in-out infinite;
}

.form-login-shape:nth-child(1) {
  top: 10%;
  left: 10%;
}

.form-login-shape:nth-child(2) {
  top: 30%;
  right: 10%;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Formulário */
.form-login {
  background: rgb(34, 34, 34);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(29, 26, 26);
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.form-login h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Labels */
.form-login-label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

/* Inputs */
.form-login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #614f4f;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  color: black;
}

.form-login-input:focus {
  border-color: #003dc2;
  outline: none;
}

/* Botão */
.form-login-button {
  background-color: #3d689f;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-login-button:hover {
  background-color: #1250a1;
}

/* Seção social */
.form-login-social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-login-social-go,
.form-login-social-fb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #ee0000;
  border-radius: 4px;
  cursor: pointer;
}

.form-login-social-go i,
.form-login-social-fb i {
  margin-right: 8px;
}

.form-login-social-go:hover,
.form-login-social-fb:hover {
  background-color: #d0d0d0;
}

/* Link para registro */
.form-login a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.form-login a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .form-login {
    padding: 20px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .form-login {
    padding: 15px;
    max-width: 95%;
  }

  .form-login h3 {
    font-size: 18px;
  }

  .form-login-input {
    font-size: 14px;
  }

  .form-login-button {
    font-size: 14px;
  }

  .form-login-social {
    flex-direction: column;
    align-items: center;
  }

  .form-login-social-go,
  .form-login-social-fb {
    width: 100%;
    margin: 5px 0;
  }
}
