/* SectionProduct.css */
.container-legacy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 40px;
    margin: 2rem;
    min-height: 100vh;
    border-radius: 12px;
}

.cards-legacy {
    display: flex;
    gap: 30px;
}

.card-image-principal-legacy {
    flex: 2;
    position: relative;
}

.card-image-principal-legacy img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card-column-legacy {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-image-legacy {
    position: relative;
}

.card-image-legacy img {
    max-width: 95%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card-image-principal-legacy img:hover,
.card-image-legacy img:hover {
    transform: scale(1.1);
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .cards-legacy {
        flex-direction: column;
        gap: 20px;
    }

    .card-image-principal-legacy,
    .card-column-legacy {
        flex: 1 0 60%;
    }

    .card-image-principal-legacy img,
    .card-image-legacy img {
        max-width: 100%;
    }

    .container-legacy {
        margin: 1rem;
        padding: 10px;
    }
}
