/* Estilos gerais */
nav {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(167, 167, 168, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

nav .logo h1 {
  font-size: 1.2rem;
  background: linear-gradient(to right, #ff9f9f 0%, #d15d5d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #a09c9c;
  font-size: 0.85rem;
  font-weight: 400;
}

.cart-icon {
  cursor: pointer;
}

/* Estilo do menu hambúrguer */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #1f1f1f;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-active span:nth-child(2) {
  opacity: 0;
}

.hamburger-active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menubar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: left 0.3s ease-in-out;
  z-index: 2;
  padding: 2rem;
}

.menubar.active {
  left: 0;
}

.menubar ul {
  list-style: none;
  padding: 0;
}

.menubar ul li {
  margin-bottom: 20px;
}

.menubar ul li a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 1rem;
  font-weight: 500;
}

.menubar ul li a:hover {
  color: #d15d5d;
}

/* Estilo do Card de Carrinho */
.cart-card {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  max-width: 400px;
  height: 100%;
  background-color: rgb(7, 5, 5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: right 0.3s ease-in-out;
  z-index: 3;
  padding: 1rem;
  overflow-y: auto;
  border-left: 0.1cap solid white;
}

.card-head{
  display: flex;
  justify-content: space-between;
}
.cart-card.active {
  right: 0;
}

.cart-card h2 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1rem;
  color: #f5f5f5;
  margin-bottom: 1rem;
}

.cart-card ul {
  list-style: none;
  padding: 0;
}

.cart-card ul li {
  margin-bottom: 0.8rem;
  color: #555;
}

.cart-card ul li::before {
  content: "• ";
  color: #d15d5d;
}

.cart-card button.close-cart {
  background-color: #111010;
  color: white;
  border: none;
  padding: 14px 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

.cart-card button.close-cart:hover {
  background-color: #222020;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .cart-card {
    width: 60%;
  }
}
